<h1> Calculator </h1>

<div class="grids">
  <app-display class="display-area" [currExpression]="currExp" 
    [prevExpression]="prevExp"></app-display>

  <app-buttons name="AC" (onPress)="whenPress($event)" backgroundColor="grey"></app-buttons>
  <app-buttons name="C" (onPress)="whenPress($event)" backgroundColor="grey"></app-buttons>
  <app-buttons name="%" (onPress)="whenPress($event)" backgroundColor="grey"></app-buttons>
  <app-buttons name="/" (onPress)="whenPress($event)" backgroundColor="orange"></app-buttons>

  <app-buttons name="7" (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="8" (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="9" (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="*" (onPress)="whenPress($event)" backgroundColor="orange"></app-buttons>
  
  <app-buttons name="4" (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="5" (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="6" (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="-" (onPress)="whenPress($event)" backgroundColor="orange"></app-buttons>
  
  <app-buttons name="1" (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="2" (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="3" (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="+" (onPress)="whenPress($event)" backgroundColor="orange"></app-buttons>

  <app-buttons name="0" class="button0" (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="." (onPress)="whenPress($event)"></app-buttons>
  <app-buttons name="=" (onPress)="whenPress($event)" backgroundColor="orange"></app-buttons>

</div>